@import "./partials/bootstrap_loader.scss";

main {
    min-height: 100vh;
    padding-top: 70px;
}

.jumbotron {
    min-height: calc(100vh - 70px);
}

.descriptionindex{
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
}
